page-rules {
    ion-navbar[hidebackbutton] button[menutoggle] {
        display: block !important;
      }

      .content-md{
        background-color: #3F51B5 !important;

      .card-md{
          height:500px;
      }

      .my-ion-list{
        height:50px;
      }
    
}

}

.background{
    box-shadow: 0px 3px 1px -2px;
  }
  
