<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton class ="card">
    <ion-title text-center>Login</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding><br><br><br>
  <ion-card>
  <form [formGroup]="formgroup">
    <ion-item>
        <ion-label color="dark" floating>Email</ion-label>
        <ion-input formControlName="email" [(ngModel)]="email" type="text"></ion-input>
      </ion-item>
      <span class="help-block form-error text-danger small" 
        *ngIf="formgroup.controls.email.errors?.required &&
        formgroup.controls.email.touched">
        <p style="margin-left: 20px; font-size: 12px; color: #f30909;">* Username is Required </p></span>

      <ion-item>
        <ion-label color="dark" floating>Password</ion-label>
        <ion-input formControlName="password" [(ngModel)]="password" type="password"></ion-input>
      </ion-item>
      <span class="help-block form-error text-danger small" 
        *ngIf="formgroup.controls.password.errors?.required &&
        formgroup.controls.password.touched">
        <p style="margin-left: 20px; font-size: 12px; color: #f30909;">* Password is Required </p></span>
      
      <br><br>
      <div text-center>
        Forgot password  <button style="font-weight: bold; top: -10px; text-decoration: underline; font-size: 12px; background-color: #fdf9f9; color: #585454;" small ion-button (click)="toChange()">Change Password</button>
      </div><br>
      <div text-center>
          <button ion-button color="dark" (click)="toLog()">Login</button>
          <button ion-button color="light" (click)="toBack()">Cancel</button>
      </div>
   
    </form>
    </ion-card><br>
      <div text-center>
        <span style="color:white">Don't have an account ?</span>
        <button style="font-weight: bold; top: -10px; font-size: 12px; background-color: #fdf9f9; color: #131111;" ion-button color="light" (click)="toSignup()" >Sign up</button>
        </div>
</ion-content>
