page-signup {
    .content-md{
        background-color: #3F51B5 !important;
    }
}
// .card-md{
//     height: 5000px;
// }
.card-md .item-inner {
     border-bottom: 1px solid #dedede !important; 
}

.item-md {
    padding-left: 16px;
    padding-right: 16px;}

.card-md{

    height:80% !important;

}
